/* font-style */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Poppins&family=Roboto+Condensed&family=Roboto:ital@1&family=Tiro+Bangla&display=swap');

body {
    /* font-style */

    font-family: 'Lato', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Tiro Bangla', serif;
    /* font-style end */

    margin: 0;

}

/* common-style */
header {
    max-width: 85%;
    margin: 0 auto;
}

main {
    max-width: 80%;
    margin: 0 auto;
}

/* top part start */

.top-banner {
    display: flex;
    justify-content: space-evenly;
    background: #161616;
    border-radius: 30px;
    margin-top: 3em;
}

.top-blog {
    width: 50%;
    padding: 2%;
}

.top-blog h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.top-blog p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 3em;
}

.top-blog a {
    text-decoration: none;
    color: white;
    width: 25%;
    background-color: #DD0000;
    padding: 5%;
}


.player-img {
    width: 50%;
}

.player-img img {
    margin-top: 20px;
    width: 80%;
    height: 28em;
}

/*--------------
      2nd part
  ------------- */

/* index-one */

.Match-blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 8px gray;
    border-radius: 1em;
}

.Match-image-part {

    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.Match-img {
    width: 100%;
}

.Match-img-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;

}

#Match-title {
    font-weight: 700;
    font-size: 20px;
}

#Match-ditels {

    font-weight: 700;
    font-size: 16px;

}

/* index-one-end */


#all-view {
    margin-top: 5em;

}

#aside-grow {
    display: flex;

}

.aside {
    width: 22%;
    margin-top: 10px;
}

.link-button {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 312px;
    background-color: black;
    border-radius: 1em;

}

.link-b {
    width: 75%;
    height: 1em;
    padding: 22px;
    margin-top: 28px;
    border: 2px solid blue;
    border-radius: 1em;
    text-align: center;
    background-color: white;

}

.link-button>.link-b:hover {
    background-color: #DD0000;
}

.link-b>a {
    text-decoration: none;
    color: #101011;

    font-size: 20px;
    font-weight: 700;
}

/* -------grow------ */

.grow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    flex-grow: 1;
    padding: 1em;
}

.blog {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 5px 5px 8px gray;
}

.blog>div>button>a {
    text-decoration: none;
}

.blog>div>button> {
    width: 105px;
    height: 35px;

}

.blog>#blog-text>p {
    font-weight: 700;
    font-size: 20px;
}

.blog>#blog-icon {
    display: flex;
}

.blog>#blog-icon>#mess {
    margin-left: 30px;
}

#view-all {
    text-align: center;

    margin: 2em;
}

#view-all a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-color: #DD0000;
    color: white;
    padding: 25px;
    border-radius: 1em;
}



/* --------------
    footer
------------- */

footer {
    height: 400px;
    margin-top: 3em;
    background-color: #161616;
}

#goal-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.foot {

    margin: 10px 10px;

    padding: 1em;
    color: white;
}

.f-icon {

    text-align: center;

    margin-top: 8em;
}

.f-i {
    color: aliceblue;
    font-size: 2em;
    margin: 10px;

}

hr {
    width: 65%;
}

/* --------------
    Responsive
---------------- */

/* -------------
     mobile
------------- */

@media only screen and (max-width: 576px) {

    .top-banner,
    #aside-grow,
    .grow {
        display: flex;
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }


    .grow>.blog {
        width: 100%;
    }

    .grow>.blog>#blog-img>img {
        width: 100%;
    }

    .top-blog {
        width: 100%;
        text-align: center;
    }

    .top-blog p {
        width: 90%;
        /* ellipsis */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 20px;
    }

    .player-img {
        width: 95%;
    }

    .player-img img {
        margin-top: 20px;
        width: 100%;
        height: 28em;
    }


    #view-all {
        display: none;
    }

    /* footer  */



    #goal-ad {
        height: 100%;
    }

    #goal-ad>.ad {
        display: inline-flex;
        flex-direction: column;

    }

    #goal-ad>.ad>.foot {

        padding: 0em;
        margin: 0;

    }

    .f-icon {
        margin: -44px;
        font-size: 10px;
    }

}


/* tab */

@media screen and (min-width: 577px) and (max-width: 992px) {

    main {
        max-width: 80%;
        margin: 0 auto;
    }

    .top-banner {
        display: flex;

    }



    .top-blog>p {
        width: 245px;
        height: 20px;



        /* ellipsis */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    }



    #aside-grow,
    .grow {
        display: flex;
        flex-direction: column;
    }

    .aside {
        width: 100%;
    }

    .aside>.link-button {
        display: flex;
        flex-direction: row;
        background-color: white;
    }

    .aside>.link-button>.link-b#hidden {
        display: none;
    }

    .aside>.link-button>.link-b {
        margin: 1em;
    }




    .grow>.blog>#blog-img>img {
        width: 100%;
        height: 100%;
    }



    /* footer  */

    #goal-ad>.ad {
        display: flex;
        width: 80%;

    }

    #goal-ad>.ad.foot {
        width: 80%;

    }

}


@media screen and (min-width: 993px) and (max-width: 1200px) {

    .aside {
        width: 100%;
    }

    #view-all {
        display: none;
    }


}

@media screen and (min-width: 1201px) and (max-width: 1900px) {



    #view-all {
        display: none;
    }


}